<div class="drawer z-50 pb-10 overflow-y-auto">
  <div class="container max-w-full">
    <div class="h-[70px] flex items-center justify-between gap-x-4">
        <a class="flex justify-start max-w-[180px] w-[180px]" href="{{@site.url}}" style="font-size: 30px; font-weight: 700; transform: scale(0.7); margin-left: -5%"> 
          {{#if @site.logo}}
          <img class="w-full h-auto" src="{{@site.logo}}" alt="{{@site.brand_site_title}}"/>
          {{else}}
          {{@site.brand_site_title}}
          {{/if}}
        </a>
      <button class="drawer-close">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M19.1443 17.5416C17.3159 15.713 15.4851 13.8843 13.6518 12.0557C13.6333 12.0371 13.6132 12.0201 13.5917 12.005C13.6183 11.9839 13.6436 11.9614 13.6677 11.9375C16.9524 8.65508 20.236 5.37194 23.5186 2.0881L23.527 2.07966C23.6149 1.99589 23.6964 1.90561 23.7707 1.80958C23.8827 1.66326 23.9566 1.49145 23.9858 1.30955C24.0151 1.12764 23.9988 0.941313 23.9384 0.76725C23.8772 0.592776 23.7743 0.435913 23.6386 0.310324C23.5029 0.184735 23.3386 0.0942292 23.16 0.0466903C22.5893 -0.109449 22.1948 0.201776 21.948 0.448644L17.5177 4.88699C15.6971 6.70791 13.8769 8.52989 12.057 10.3529C12.0384 10.3714 12.0214 10.3916 12.0063 10.413C11.9859 10.386 11.9633 10.3606 11.9388 10.3371C8.65552 7.04973 5.37083 3.76448 2.08472 0.481348L2.07628 0.472906C1.99264 0.385261 1.90274 0.303813 1.8073 0.229203C1.66096 0.117317 1.48918 0.0434378 1.30732 0.0141661C1.12546 -0.0151057 0.939188 0.00114254 0.76514 0.0614601C0.590621 0.122424 0.433652 0.225138 0.307901 0.360656C0.182149 0.496173 0.0914269 0.660384 0.0436427 0.838989C-0.11247 1.41079 0.198701 1.80536 0.445528 2.05223L4.89686 6.50113L10.3471 11.9481C10.3662 11.9664 10.3867 11.9834 10.4083 11.9987C10.3817 12.0194 10.3564 12.0416 10.3323 12.0652C7.04763 15.3483 3.76399 18.6318 0.481394 21.9156L0.471898 21.9262C0.384651 22.0091 0.303568 22.0983 0.229292 22.1931C0.117339 22.3394 0.0434195 22.5112 0.0141498 22.6931C-0.0151199 22.875 0.00117729 23.0614 0.0615792 23.2354C0.122533 23.41 0.225224 23.567 0.360719 23.6927C0.496214 23.8185 0.660404 23.9092 0.838979 23.957C1.41069 24.1132 1.80519 23.803 2.05096 23.5561C3.97706 21.6276 5.90315 19.7001 7.82925 17.7737L11.9146 13.6856C11.9433 13.6565 11.9704 13.6259 11.9958 13.5938C12.0179 13.6192 12.0401 13.6434 12.0633 13.6666C15.3459 16.9519 18.6292 20.2361 21.9132 23.5192L21.9227 23.5298C22.0057 23.617 22.0953 23.6977 22.1906 23.7714C22.3375 23.8831 22.5098 23.9569 22.6921 23.986C22.8744 24.0151 23.0611 23.9987 23.2355 23.9383C23.41 23.8778 23.5667 23.7752 23.6919 23.6395C23.8172 23.5038 23.9069 23.3393 23.9532 23.1605C24.1093 22.5898 23.7981 22.1952 23.5513 21.9483L19.1443 17.5416Z" fill="black"/>
</svg>

      </button>
    </div>
  {{!-- {{#if @price.use}}
    {{#unless @member.paid}} --}}
    <div class="drawer__member--membership">
      <a href="{{ @site.url }}/membership/"
        class="bg-accent c-nav__link c-nav__link--member js-nav__link-membership">구독하기</a>
    </div>
    {{!-- {{/unless}}
    {{/if}} --}}
    <div class="">
      <div class="form overflow-hidden py-1 px-5 mb-6 bg-white text-black rounded" style="border: 1px solid rgba(0, 0, 0, .3); width: 95%; margin: 20px auto; height: 48px; padding: auto;">
        <form id="m-search" class="flex justify-between items-center">
          <input ref="searchInput" name="q" class="search-text py-2 w-full outline-none" style="font-size: 14px; font-weight: 900; color: rgba(0, 0, 0, .3)" type="text" placeholder="검색.." />
          <button class="ml-2 text-core-blue" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="black" style="opacity: 0.3;" aria-hidden="true"
              class="h-5 w-5">
              <path fill-rule="evenodd"
                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </form>
      </div>
  <div style="width: 95%; margin: 30px auto; ">
      {{> drawer-navigation }}
      </div>
    </div>
  </div>
</div>