<header class="global-header">
  <div class="global-header__wrap relative">
    <div class="h-[5px] bg-black absolute top-0 left-0 right-0"></div>

    {{!-- Mobile --}}
    <div class="mobile-menu lg:hidden" style="height: 70px">

      <div class="border-b border-b-black/30">
        <div class="container max-w-full">
          <div class="absolute top-0 bottom-0 left-0 flex items-center justify-center px-5">
            <button class="drawer-open text-black">
              <svg width="26" height="20" viewBox="0 0 26 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M0 12C0 11.4477 0.447715 11 1 11H25C25.5523 11 26 11.4477 26 12C26 12.5523 25.5523 13 25 13H1C0.447715 13 0 12.5523 0 12Z" fill="black"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M0 1C0 0.447715 0.447715 0 1 0H25C25.5523 0 26 0.447715 26 1C26 1.55228 25.5523 2 25 2H1C0.447715 2 0 1.55228 0 1Z" fill="black"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M0 23C0 22.4477 0.447715 22 1 22H25C25.5523 22 26 22.4477 26 23C26 23.5523 25.5523 24 25 24H1C0.447715 24 0 23.5523 0 23Z" fill="black"/>
</svg>

            </button>
          </div>
          <div class="absolute top-0 bottom-0 right-0 flex items-center justify-center px-5">
            <a href='#' data-portal='account' class='c-nav__link js-nav__link-membership'
              style="{{#unless @member}}visibility: hidden{{/unless}}">
              <div class="c-header__member--profile">
                {{#if @member.avatar_image}}
                <img src="{{@member.avatar_image}}" alt="">
                {{else}}
                <svg width="32" height="32" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M12.0079 1.15803e-06C9.63379 -0.0010415 7.31269 0.702015 5.33817 2.02025C3.36365 3.33848 1.82442 5.21267 0.915165 7.40577C0.00590585 9.59888 -0.232539 12.0124 0.22999 14.341C0.692519 16.6696 1.83524 18.8088 3.51363 20.4879C5.19202 22.167 7.33068 23.3107 9.6591 23.7743C11.9875 24.2378 14.4011 24.0004 16.5946 23.0921C18.7881 22.1838 20.663 20.6454 21.9821 18.6715C23.3012 16.6976 24.0053 14.3768 24.0053 12.0026C24.006 10.4267 23.6962 8.86602 23.0935 7.40983C22.4909 5.95363 21.6073 4.63043 20.4932 3.51581C19.3791 2.40119 18.0563 1.517 16.6003 0.91375C15.1444 0.310497 13.5839 1.00592e-06 12.0079 1.15803e-06ZM12.0079 3.58972C12.793 3.58972 13.5604 3.82251 14.2131 4.25866C14.8658 4.69481 15.3746 5.31472 15.675 6.04001C15.9754 6.76529 16.054 7.56338 15.9009 8.33334C15.7477 9.1033 15.3697 9.81055 14.8146 10.3657C14.2595 10.9208 13.5522 11.2988 12.7823 11.452C12.0123 11.6051 11.2142 11.5265 10.4889 11.2261C9.76366 10.9257 9.14375 10.4169 8.7076 9.76417C8.27145 9.11143 8.03866 8.34402 8.03866 7.55897C8.03866 6.50626 8.45685 5.49667 9.20123 4.75229C9.94561 4.00791 10.9552 3.58972 12.0079 3.58972ZM12.0079 20.8636C9.90585 20.8676 7.87166 20.1198 6.27279 18.7551C6.08695 18.5961 5.93755 18.3989 5.83476 18.1769C5.73198 17.955 5.67822 17.7135 5.67714 17.4689C5.67783 16.9415 5.78266 16.4194 5.98561 15.9326C6.18857 15.4458 6.48565 15.0038 6.85983 14.6321C7.234 14.2604 7.67789 13.9662 8.16603 13.7664C8.65417 13.5667 9.17695 13.4653 9.70438 13.468H14.322C14.8489 13.4653 15.3712 13.5667 15.8587 13.7666C16.3463 13.9665 16.7895 14.2608 17.1628 14.6327C17.5362 15.0046 17.8322 15.4466 18.034 15.9334C18.2359 16.4201 18.3394 16.942 18.3387 17.4689C18.339 17.7137 18.2859 17.9557 18.183 18.1778C18.0801 18.4 17.93 18.597 17.743 18.7551C16.1428 20.1209 14.1065 20.8689 12.0026 20.8636H12.0079Z"
                    fill="black" />
                </svg>
                {{/if}}
              </div>
            </a>
            {{#unless @member}}
            <a href="/signin">
            <div class="c-header__member--profile" style="border: 0; ">
<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="16" cy="16" r="16" fill="#CDCDCD"/>
<path d="M16.007 1.54371e-06C12.8422 -0.00138836 9.74811 0.935814 7.116 2.69307C4.48389 4.45033 2.43203 6.9487 1.21995 9.87219C0.00787273 12.7957 -0.309983 16.013 0.306586 19.1171C0.923156 22.2213 2.44645 25.0729 4.68381 27.3112C6.92117 29.5496 9.77209 31.0741 12.876 31.692C15.9799 32.31 19.1973 31.9935 22.1213 30.7827C25.0453 29.5719 27.5446 27.5212 29.303 24.8898C31.0614 22.2585 32 19.1648 32 16C32.0009 13.8992 31.5879 11.8188 30.7846 9.8776C29.9813 7.93643 28.8034 6.17255 27.3183 4.68672C25.8331 3.20089 24.0697 2.02223 22.1289 1.21807C20.1881 0.413904 18.1078 1.34093e-06 16.007 1.54371e-06ZM16.007 4.78524C17.0535 4.78524 18.0765 5.09557 18.9466 5.67697C19.8168 6.25837 20.495 7.08474 20.8954 8.05157C21.2959 9.01841 21.4007 10.0823 21.1965 11.1087C20.9924 12.1351 20.4884 13.0779 19.7485 13.8178C19.0085 14.5578 18.0657 15.0618 17.0393 15.2659C16.0129 15.4701 14.949 15.3653 13.9822 14.9648C13.0154 14.5643 12.189 13.8862 11.6076 13.016C11.0262 12.1459 10.7159 11.1229 10.7159 10.0764C10.7159 8.67311 11.2733 7.32728 12.2656 6.33499C13.2579 5.3427 14.6037 4.78524 16.007 4.78524ZM16.007 27.812C13.2049 27.8174 10.4932 26.8204 8.36189 25.0013C8.11415 24.7893 7.91499 24.5265 7.77797 24.2306C7.64095 23.9347 7.56929 23.6128 7.56786 23.2868C7.56877 22.5837 7.70851 21.8877 7.97906 21.2388C8.24961 20.5898 8.64564 20.0007 9.14443 19.5051C9.64321 19.0096 10.2349 18.6175 10.8856 18.3512C11.5364 18.0849 12.2332 17.9497 12.9363 17.9534H19.0918C19.7942 17.9497 20.4904 18.085 21.1403 18.3515C21.7903 18.6179 22.3811 19.0103 22.8787 19.506C23.3764 20.0017 23.7711 20.5909 24.0401 21.2398C24.3091 21.8887 24.4471 22.5844 24.4462 23.2868C24.4466 23.6131 24.3758 23.9357 24.2387 24.2318C24.1015 24.5279 23.9014 24.7906 23.6522 25.0013C21.519 26.822 18.8045 27.8191 16 27.812H16.007Z" fill="#EBEAEA"/>
</svg>

            </div></a>
            {{/unless}}
          </div>

          <div class="h-[70px] flex items-center justify-center gap-x-4">
            <div class="logo">
              <a class="flex items-center justify-center max-w-[180px] mx-auto"
                style="font-size: 24px; font-weight: 700;" href="{{@site.url}}">
                {{#if @site.logo}}
                <img class="w-full h-auto" src="{{@site.logo}}" alt="{{@site.brand_site_title}}" style="transform: scale(0.7)"/>
                {{else}}
                {{@site.brand_site_title}}
                {{/if}}
              </a>
            </div>
          </div>
        </div>
      </div>

      {{> drawer }}

    </div>

    {{!-- PC --}}
    <div class="global-navigation hidden lg:block">
      <div class="py-5 border-b border-b-black/30">
        <div class="container mx-auto">
          <div class="relative">
            <div class="absolute top-0 right-0 flex items-center gap-x-7 text-xs font-bold">
              {{#if @member}}
              <div style="display: flex;" class="items-center">
                <a href='#' data-portal='account' class="items-center flex"
                  style="justify-content: end; margin-right: 10px;">
                  <span style="margin-right: 10px;">{{t 'Hello'}}, {{@member.name}}</span>
                  <div class="c-header__member--profile" style="overflow: hidden;
    border: 1px solid black;
    border-radius: 100%;">
                    {{#if @member.avatar_image}}
                    <img style="overflow: hidden;
    object-fit: cover;
    width: 100%;
    height: 100%;" src="{{@member.avatar_image}}" alt="">
                    {{else}}
                    <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"
                      style="overflow: hidden;
    object-fit: cover;
    width: 100%;
    height: 100%;">
                      <path
                        d="M12.0079 1.15803e-06C9.63379 -0.0010415 7.31269 0.702015 5.33817 2.02025C3.36365 3.33848 1.82442 5.21267 0.915165 7.40577C0.00590585 9.59888 -0.232539 12.0124 0.22999 14.341C0.692519 16.6696 1.83524 18.8088 3.51363 20.4879C5.19202 22.167 7.33068 23.3107 9.6591 23.7743C11.9875 24.2378 14.4011 24.0004 16.5946 23.0921C18.7881 22.1838 20.663 20.6454 21.9821 18.6715C23.3012 16.6976 24.0053 14.3768 24.0053 12.0026C24.006 10.4267 23.6962 8.86602 23.0935 7.40983C22.4909 5.95363 21.6073 4.63043 20.4932 3.51581C19.3791 2.40119 18.0563 1.517 16.6003 0.91375C15.1444 0.310497 13.5839 1.00592e-06 12.0079 1.15803e-06ZM12.0079 3.58972C12.793 3.58972 13.5604 3.82251 14.2131 4.25866C14.8658 4.69481 15.3746 5.31472 15.675 6.04001C15.9754 6.76529 16.054 7.56338 15.9009 8.33334C15.7477 9.1033 15.3697 9.81055 14.8146 10.3657C14.2595 10.9208 13.5522 11.2988 12.7823 11.452C12.0123 11.6051 11.2142 11.5265 10.4889 11.2261C9.76366 10.9257 9.14375 10.4169 8.7076 9.76417C8.27145 9.11143 8.03866 8.34402 8.03866 7.55897C8.03866 6.50626 8.45685 5.49667 9.20123 4.75229C9.94561 4.00791 10.9552 3.58972 12.0079 3.58972ZM12.0079 20.8636C9.90585 20.8676 7.87166 20.1198 6.27279 18.7551C6.08695 18.5961 5.93755 18.3989 5.83476 18.1769C5.73198 17.955 5.67822 17.7135 5.67714 17.4689C5.67783 16.9415 5.78266 16.4194 5.98561 15.9326C6.18857 15.4458 6.48565 15.0038 6.85983 14.6321C7.234 14.2604 7.67789 13.9662 8.16603 13.7664C8.65417 13.5667 9.17695 13.4653 9.70438 13.468H14.322C14.8489 13.4653 15.3712 13.5667 15.8587 13.7666C16.3463 13.9665 16.7895 14.2608 17.1628 14.6327C17.5362 15.0046 17.8322 15.4466 18.034 15.9334C18.2359 16.4201 18.3394 16.942 18.3387 17.4689C18.339 17.7137 18.2859 17.9557 18.183 18.1778C18.0801 18.4 17.93 18.597 17.743 18.7551C16.1428 20.1209 14.1065 20.8689 12.0026 20.8636H12.0079Z"
                        fill="black" />
                    </svg>
                    {{/if}}
                  </div>
                </a>
                <div class="c-header__member--signout">
                  <a href='#signout' class='c-nav__link c-nav__link--sign' data-members-signout>{{t 'Log out' }}</a>
                </div>
              </div>
              {{else}}
              <a class="" href="/signin/">로그인</a>
              <a class="flex items-center justify-center w-20 h-[30px] rounded-full bg-core-blue hover:bg-black hover:text-core-blue"
                href="/membership/">구독하기</a>
              {{/if}}
            </div>

            <div class="flex flex-col items-center py-2">
              <div class="flex items-center justify-center relative">
                <a class="text-5xl font-bold mt-4" href="{{@site.url}}">
                  {{#if @site.logo}}
                  <img class="max-h-[64px] w-auto h-full" src="{{@site.logo}}" alt="{{@site.brand_site_title}}" />
                  {{else}}
                  {{@site.brand_site_title}}
                  {{/if}}
                </a>
              </div>
              {{navigation type="secondary"}}
            </div>
          </div>
        </div>
      </div>

      <div class="border-b border-black">
        <div class="container mx-auto">
          <nav class="flex items-center justify-between">
            {{navigation}}

            <div class="flex items-center gap-x-8">
              <form id="search" class="flex items-center border border-black/20 rounded-full px-5 py-1 gap-x-2">
                <input class="grow outline-none font-noto text-xs min-h-[22px] max-w-[126px]" type="text" name="q"
                  placeholder="검색">
                <button type="submit">
                  <svg width="13" height="13" viewBox="0 0 13 13" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M8.2882 9.70748C7.94634 9.88825 7.64615 10.0762 7.32309 10.2122C5.89574 10.8179 4.46789 10.8101 3.0563 10.1576C2.00992 9.674 1.21091 8.90972 0.652671 7.89154C0.188978 7.04033 -0.0356056 6.0765 0.00335261 5.10489C0.0423108 4.13328 0.343319 3.19111 0.87363 2.38088C1.3692 1.61744 2.05182 0.997561 2.85464 0.581936C3.73146 0.126069 4.71724 -0.0700231 5.69894 0.0161493C6.68065 0.102322 7.61852 0.46727 8.40502 1.06914C9.37826 1.81282 10.0305 2.78414 10.3352 3.97949C10.6908 5.39011 10.5064 6.73533 9.79021 7.99969C9.72367 8.11712 9.7257 8.17943 9.82373 8.27728C10.7645 9.22285 11.6991 10.1751 12.6368 11.1238C12.9613 11.4518 13.0853 11.8329 12.9415 12.2846C12.7277 12.9634 11.853 13.2261 11.309 12.7759C11.2404 12.7188 11.1744 12.658 11.1114 12.5947C10.195 11.6676 9.27938 10.7391 8.36439 9.80894C8.33634 9.77726 8.31086 9.74332 8.2882 9.70748ZM8.80529 5.32059C8.79564 3.3316 7.1895 1.7093 5.24607 1.72578C3.27471 1.74278 1.69041 3.35684 1.70108 5.33449C1.71378 7.32502 3.31332 8.93547 5.26588 8.9226C7.21845 8.90972 8.81443 7.29206 8.80529 5.32059Z"
                      fill="black" />
                  </svg>
                </button>
              </form>

              {{#get "pages" filter="slug:about" limit="4"}}
              {{#foreach pages}}
              <div class="text-lsm font-bold">
                <a href="{{url}}">About</a>
              </div>
              {{/foreach}}
              {{/get}}
            </div>
          </nav>
        </div>
      </div>
    </div>

  </div>
</header>

<style>
  .m-head .tc-nav-second {
    font-size: 11px;
  }
</style>