{{#foreach posts}}
  {{#if @first}}
  <div class="container mx-auto py-8">
    <div class="grid gap-y-5 lg:grid-cols-2 lg:gap-x-5">
  {{/if}}

  {{#match @number "=" 3}}
    </div>
  </div>

  <div class="lg:container lg:mx-auto">
    <div class="border-t border-t-black"></div>
  </div>

  <div class="container mx-auto">
    <div data-row="2" class="lg:grid lg:grid-cols-2 lg:py-10 lg:border-b lg:border-b-black/20">
  {{/match}}

  {{#match @number "=" 5}}
    </div>
  </div>
  <div class="container mx-auto lg:py-6">
    <div data-row="3" class="lg:grid lg:grid-cols-4 lg:gap-x-7">
  {{/match}}

  {{#match @number "=" 1}}
      <div>
        <article>
          <div class="relative aspect-square flex bg-gray-e5">
            <div class="h-full w-full">
              {{#if feature_image}}
              <img
                class="object-cover w-full h-full border border-gray-e6"
                src="{{img_url feature_image}}"
                alt="{{#if feature_image_alt}}{{ feature_image_alt }}{{ else }}{{ title }}{{/if}}"
              >
              {{else}}
              <div class="h-full w-full flex items-center justify-center">
                <span class="text-xs font-bold text-white/40">{{ @site.brand_site_title }}</span>
              </div>
              {{/if}}
            </div>

            <div class="absolute inset-0 bg-gradient-to-t from-gray-5a"></div>
            <a class="absolute inset-0" href="{{url}}"></a>
            <div class="absolute inset-x-0 bottom-0">
              <div class="px-6 pb-5 text-white lg:px-10 lg:pb-10">
                <h1 class="font-bold text-[22px] leading-tight tracking-tight mb-5 md:text-[28px]"><a href="{{ url }}">{{ title }}</a></h1>
                <div class="flex items-center text-xs font-bold gap-x-3 md:gap-x-5">
                  {{#primary_tag}}
                  <div class="primary-tag text-core-tag">
                    <a href="{{url}}">{{name}}</a>
                  </div>
                  {{/primary_tag}}
                  {{#primary_author}}
                  <div class="flex items-center gap-x-1">
                    <div class="text-gray-b9 text-sm font-medium font-tinos">by</div>
                    <div class="author">
                        <a href="{{url}}">{{name}}</a>
                    </div>
                  </div>
                  {{/primary_author}}
                  <div class="text-gray-b9 font-medium">{{date published_at format="YYYY년 M월 D일"}}</div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
  {{else match @number "=" 2}}
      <div>
        <article>
          <div class="relative aspect-square flex bg-gray-e5">
            <div class="h-full w-full">
              {{#if feature_image}}
              <img
                class="object-cover w-full h-full border border-gray-e6"
                src="{{img_url feature_image}}"
                alt="{{#if feature_image_alt}}{{ feature_image_alt }}{{ else }}{{ title }}{{/if}}"
              >
              {{else}}
              <div class="h-full w-full flex items-center justify-center">
                <span class="text-xs font-bold text-white/40">{{ @site.brand_site_title }}</span>
              </div>
              {{/if}}
            </div>

            <div class="absolute inset-0 bg-gradient-to-t from-gray-5a"></div>
            <a class="absolute inset-0" href="{{url}}"></a>
            <div class="absolute inset-x-0 bottom-0">
              <div class="px-6 pb-5 text-white lg:px-10 lg:pb-10">
                <h1 class="font-bold text-[22px] leading-tight tracking-tight mb-5 md:text-[28px]"><a href="{{ url }}">{{ title }}</a></h1>
                <div class="flex items-center text-xs font-bold gap-x-3 md:gap-x-5">
                  {{#primary_tag}}
                  <div class="primary-tag text-core-tag">
                    <a href="{{url}}">{{name}}</a>
                  </div>
                  {{/primary_tag}}
                  {{#primary_author}}
                  <div class="flex items-center gap-x-1">
                    <div class="text-gray-b9 text-sm font-medium font-tinos">by</div>
                    <div class="author">
                        <a href="{{url}}">{{name}}</a>
                    </div>
                  </div>
                  {{/primary_author}}
                  <div class="text-gray-b9 font-medium">{{date published_at format="YYYY년 M월 D일"}}</div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>

  {{else match @number "=" 3}}
  <div class="py-4 border-b border-b-black/20 lg:py-0 lg:border-b-0 {{#match @number "=" 3}}lg:pr-9 lg:border-r lg:border-r-black/20{{else}}lg:pl-9{{/match}}">
          <article class="tracking-tight flex items-stretch gap-x-10  bg-white lg:h-full">
            <div class="content flex flex-col flex-auto">
              <div class="flex flex-col grow">
                <h1 class="text-lsm font-bold lg:text-lg lg:mb-3 leading-tight"><a href="{{ url }}">{{ title }}</a></h1>
                <div class="hidden lg:block">
                  <p class="text-sm leading-tight mb-4 line-clamp-3 grow">{{ excerpt }}</p>
                </div>
              </div>

              <div class="flex items-center text-xs font-bold gap-x-3 md:gap-x-5">
                {{#primary_tag}}
                <div class="primary-tag text-core-tag">
                  <a href="{{url}}">{{name}}</a>
                </div>
                {{/primary_tag}}
                {{#primary_author}}
                <div class="flex items-center gap-x-1">
                  <div class="text-gray-b9 text-sm font-medium font-tinos">by</div>
                  <div class="author">
                      <a href="{{url}}">{{name}}</a>
                  </div>
                </div>
                {{/primary_author}}
                <div class="hidden text-gray-b9 font-medium md:block lg:hidden xl:block">{{date published_at format="YYYY년 M월 D일"}}</div>
              </div>

            </div>

            <div class="relative feature-image media w-[120px] md:w-[180px] aspect-post flex-grow-0 flex-shrink-0 bg-gray-100 flex">
              <div class="absolute right-0 top-0">
                {{> visibility }}
              </div>
              <a href="{{ url }}" class="flex h-full items-center justify-center">

                {{#if feature_image}}
                <img
                  class="object-cover w-full h-full border border-gray-e6"
                  src="{{img_url feature_image}}"
                  alt="{{#if feature_image_alt}}{{ feature_image_alt }}{{ else }}{{ title }}{{/if}}"
                >
                {{else}}
                <span class="text-xs font-bold text-gray-500">{{ @site.brand_site_title }}</span>
                {{/if}}
              </a>
            </div>
          </article>
        </div>
  {{else match @number "=" 4}}
  <div class="py-4 border-b border-b-black/20 lg:py-0 lg:border-b-0 {{#match @number "=" 3}}lg:pr-9 lg:border-r lg:border-r-black/20{{else}}lg:pl-9{{/match}}">
          <article class="tracking-tight flex items-stretch gap-x-10  bg-white">
            <div class="content flex flex-col flex-auto">
              <div class="flex flex-col grow">
                <h1 class="text-lsm font-bold lg:text-lg lg:mb-3 leading-tight"><a href="{{ url }}">{{ title }}</a></h1>
                <div class="hidden lg:block">
                  <p class="text-sm leading-tight mb-4 line-clamp-3 grow">{{ excerpt }}</p>
                </div>
              </div>

              <div class="flex items-center text-xs font-bold gap-x-3 md:gap-x-5">
                {{#primary_tag}}
                <div class="primary-tag text-core-tag">
                  <a href="{{url}}">{{name}}</a>
                </div>
                {{/primary_tag}}
                {{#primary_author}}
                <div class="flex items-center gap-x-1">
                  <div class="text-gray-b9 text-sm font-medium font-tinos">by</div>
                  <div class="author">
                      <a href="{{url}}">{{name}}</a>
                  </div>
                </div>
                {{/primary_author}}
                <div class="hidden text-gray-b9 font-medium md:block lg:hidden xl:block">{{date published_at format="YYYY년 M월 D일"}}</div>
              </div>

            </div>

            <div class="relative feature-image media w-[120px] md:w-[180px] aspect-post flex-grow-0 flex-shrink-0 bg-gray-100 flex">
              <div class="absolute right-0 top-0">
                {{> visibility }}
              </div>
              {{#if feature_image}}
                <a href="{{ url }}" class="flex">
                  <img class="object-cover w-full h-full border border-gray-e6"
                      srcset="{{img_url feature_image size="s"}} 300w,
                              {{img_url feature_image size="m"}} 600w,
                              {{img_url feature_image size="l"}} 1000w,
                              {{img_url feature_image size="xl"}} 2000w"
                      sizes="(max-width: 1000px) 400px, 700px"
                      src="{{img_url feature_image size="m"}}"
                      alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                  />
                </a>
              {{/if}}
            </div>
          </article>
        </div>
  {{else}}
    <div class="py-4 border-b border-b-black/20 lg:py-0 lg:border-b-0">

        <article class="tracking-tight flex gap-x-10  bg-white lg:flex-col-reverse lg:h-full">


          <div class="content grow flex flex-col">
            <div class="flex flex-col grow">
              <h1 class="text-lsm font-bold line-clamp-2 lg:text-lg lg:mb-3 leading-tight"><a href="{{ url }}">{{ title }}</a></h1>
              <div class="hidden">
                <p class="text-sm leading-tight mb-4 line-clamp-3 grow">{{ excerpt }}</p>
              </div>
            </div>

            <div class="flex items-center text-xs font-bold gap-x-3 md:gap-x-5">
              {{#primary_tag}}
              <div class="primary-tag text-core-tag">
                <a href="{{url}}">{{name}}</a>
              </div>
              {{/primary_tag}}
              {{#primary_author}}
              <div class="flex items-center gap-x-1">
                <div class="text-gray-b9 text-sm font-medium font-tinos">by</div>
                <div class="author">
                    <a href="{{url}}">{{name}}</a>
                </div>
              </div>
              {{/primary_author}}
              <div class="hidden text-gray-b9 font-medium md:block lg:hidden xl:block">{{date published_at format="YYYY년 M월 D일"}}</div>
            </div>

          </div>

          <div class="relative feature-image shrink-0 media w-[120px] md:w-[180px] lg:min-w-[180px] lg:w-auto aspect-post bg-gray-100 lg:mb-4 overflow-hidden">
            <div class="absolute right-0 top-0">
              {{> visibility }}
            </div>
            <a href="{{ url }}" class="flex h-full items-center justify-center">

                {{#if feature_image}}
                <img
                  class="object-cover w-full h-full border border-gray-e6"
                  src="{{img_url feature_image}}"
                  alt="{{#if feature_image_alt}}{{ feature_image_alt }}{{ else }}{{ title }}{{/if}}"
                >
                {{else}}
                <span class="text-xs font-bold text-gray-500">{{ @site.brand_site_title }}</span>
                {{/if}}
              </a>
          </div>
        </article>
      </div>
  {{/match}}


  {{#if @last}}
    </div>
  </div>
  {{/if}}
{{/foreach}}