
{{#get "products" limit=20 filter="featured:true" order="published_at desc"}}
{{#if products}}
<div class="bg-core-blue py-9">
  <div class="container mx-auto max-w-[1030px]">


    <div class="shop-hero-carousel relative">
      <div class="shop-hero-swiper overflow-hidden">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">


          {{#foreach products}}
          <div class="swiper-slide">

            <article class="grid lg:grid-cols-2 lg:px-16 gap-x-20 gap-y-8">

              <div class="flex flex-col">
                <div class="type flex mb-2">
                  {{> product-type component="product" hero="true"}}
                </div>
                <div class="grow">
                  <h1 class="text-3xl font-bold mb-2">{{ title }}</h1>
                  <div>
                    <p class="text-lxs line-clamp-4">{{excerpt}}</p>
                  </div>
                </div>
                <div class="mt-7 lg:mt-0">
                  <a class="rounded-full bg-black text-white py-2 w-[130px] text-lxs font-bold flex items-center justify-center" href="{{url}}">자세히보기</a>
                </div>
              </div>

              <div class="featured-image rounded overflow-hidden">
                <div class="aspect-post bg-gray-e5">
                  <a href="{{url}}" class="flex h-full items-center justify-center">
                    {{#if feature_image}}
                    <img
                      class="object-cover w-full h-full"
                      src="{{img_url feature_image}}"
                      alt="{{#if feature_image_alt}}{{ feature_image_alt }}{{ else }}{{ title }}{{/if}}"
                    >
                    {{else}}
                    <img
                    class="object-cover w-full h-full"
                    src="{{asset "img/layout/_default_01.png"}}"
                    alt="{{ title }}"
                  >
                    {{/if}}
                  </a>
                </div>
              </div>

            </article>
          </div>
          {{/foreach}}

          <!-- Slides -->
        </div>
      </div>

      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev text-white">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="h-10 mr-[3px]"><path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
      </div>
      <div class="swiper-button-next text-white">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="h-10 ml-[3px]"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
      </div>

    </div>

  </div>
</div>
{{/if}}
{{/get}}

<div class="container mx-auto pt-12">
  {{> shop-type type="my-purchases" }}
</div>


{{#if @member}}

{{#get "products" limit="all" order="published_at desc" paid=true}}
{{#if products}}
<div class="tc-shop container mx-auto max-w-[1030px]">
<div class="bluedot-products-list">
    {{#foreach products visibility="all"}}
      <div class="bluedot-product-card">
          <div class="bluedot-product-card-content">
              <div class="cover-wrap{{#if feature_image}} have-cover-image{{else}} have-not-cover-image{{/if}}">
                  <div class="cover">
                      {{#if feature_image}}
                          <img
                              srcset="{{img_url feature_image size="s"}} 300w,
                                      {{img_url feature_image size="m"}} 600w,
                                      {{img_url feature_image size="l"}} 1000w,
                                      {{img_url feature_image size="xl"}} 2000w"
                              sizes="(max-width: 800px) 400px,
                                  (max-width: 1170px) 1170px,
                                      2000px"
                              src="{{img_url feature_image size="xl"}}"
                              alt="{{title}}"
                          />
                      {{/if}}
                      <a href="{{url}}"></a>
                  </div>

                  {{#if primary_author.profile_image}}
                  <div class="profile">
                      <img class="author-profile-image" src="{{img_url primary_author.profile_image}}" alt="{{name}}" />
                  </div>
                  {{/if}}
              </div>
              <div class="info{{#if payment.type}} have-header{{/if}}">
                  {{#if payment.type}}
                  <div class="header"><span class="label label-{{payment.type}}">{{payment.type_text}}</span></div>
                  {{/if}}
                  <h3>
                      <a href="{{url}}">{{title}}</a>
                  </h3>
                  <p class="excerpt">
                      {{excerpt}}
                  </p>

                  {{#if @member.paid}}
                      {{#if payment.have_price_sale}}
                      <div class="prices have-original-price">
                          <div class="original-price">
                              <span class="notice-text">유료회원할인가</span>
                              {{#if payment.have_price_original}}
                              <span class="price-text">{{price payment.price_original currency="KRW"}}</span>
                              {{else}}
                              <span class="price-text">{{price payment.price currency="KRW"}}</span>
                              {{/if}}
                          </div>
                          <div class="price">
                              <span class="sale-percent">{{payment.price_sale_percent}}%</span>

                              {{price payment.price_sale currency="KRW"}}
                          </div>
                      </div>
                      {{else}}
                          {{#if payment.have_price_original}}
                              <div class="prices have-original-price">
                                  <div class="original-price"><span class="price-text">{{price payment.price_original currency="KRW"}}</span></div>
                                  <div class="price">
                                      <span class="sale-percent">{{payment.price_original_sale_percent}}%</span>

                                      {{price payment.price currency="KRW"}}
                                  </div>
                              </div>
                          {{else}}
                          <div class="prices">
                              <div class="price">{{price payment.price currency="KRW"}}</div>
                          </div>
                          {{/if}}
                      {{/if}}
                  {{else}}
                      <div class="prices full-price-list">
                          <div class="price">
                              <span class="price-label">무료회원 할인가</span>
                              <span class="price-text">{{price payment.price currency="KRW"}}</span>
                          </div>
                          {{#if payment.have_price_sale}}
                          <div class="price">
                              <span class="price-label">유료회원 할인가 </span>
                              <span class="price-text">{{price payment.price_sale currency="KRW"}}</span>
                          </div>
                          {{/if}}
                      </div>
                  {{/if}}
              </div>
          </div>
      </div>

    {{/foreach}}
</div>
</div>
{{else}}
{{!-- <div class="flex items-center justify-center text-lg pt-30 pb-40">해당 상품이 존재하지 않습니다.</div> --}}
<div class="flex flex-col justify-center items-center pt-30 pb-40">

  <div class="flex items-center">
    <svg id="emoji" class="w-8 h-8" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg">
      <g id="color">
        <circle cx="36" cy="36" r="24" fill="#FCEA2B"/>
      </g>
      <g id="hair"/>
      <g id="skin"/>
      <g id="skin-shadow"/>
      <g id="line">
        <path fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M28.8233,44.2876c2.3686-0.6663,11.8642,0.535,14.0445,2.0632"/>
        <path fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M22.3012,23.3391c1.2822-0.889,2.8466-1.271,4.3937-1.0722c1.5679,0.0356,3.0646,0.6567,4.1996,1.7378"/>
        <path fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M49.0443,27.3182c-2.4149-1.7243-5.3513,0-8.2333-0.2604"/>
        <path d="M30,31c0,1.6568-1.3448,3-3,3c-1.6553,0-3-1.3433-3-3c0-1.6552,1.3447-3,3-3C28.6552,28,30,29.3448,30,31"/>
        <path d="M47,33c0,1.6568-1.3447,3-3,3s-3-1.3433-3-3c0-1.6552,1.3447-3,3-3S47,31.3448,47,33"/>
        <path fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M55.6437,47.9697c2.1202-3.4721,3.346-7.5506,3.3562-11.916C59.0295,23.3506,48.7558,13.0296,36.0537,13 c-12.7031-0.0297-23.0239,10.2431-23.0536,22.9462c-0.0296,12.7022,10.2432,23.0241,22.9462,23.0537 c5.209,0.0122,10.0176-1.7084,13.8804-4.6186"/>
        <circle cx="43.9286" cy="30.8098" r="9.4209" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
        <path fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M53.6876,30.9567c0,0,2.2127,0.5511,1.9237,4.0128s-3.5691,7.9621-3.5691,7.9621s-2.0208,2.3624-1.4607,4.3219 c0.7165,2.5065,4.3147,6.4367,4.1809,8.6099"/>
      </g>
    </svg>
    <span>아직 구매한 상품(강의)이 없네요!</span>
  </div>
  <div>스토어를 둘러보시면서 새로운 상품을 지금 구매해 보세요.</div>
</div>
{{/if}}
{{/get}}
{{else}}
<div class="flex items-center justify-center text-lg pt-30 pb-40">해당 상품이 존재하지 않습니다.</div>
{{/if}}